* {
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
}

header .nav-switch {
  background-color: #000;
  -webkit-box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 7px 4px rgba(0, 0, 0, 0.3);
}

header .nav-switch .nav-header a {
  color: #363636;
}

header .nav-switch ul li a {
  color: #363636;
}

header .nav-switch ul #sm-links a {
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

header .nav-switch a:hover {
  color: #747474;
}

header nav {
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
  width: 100%;
  height: 65px;
  padding: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

header nav .nav-header {
  height: 100%;
  padding-top: 0;
}

header nav .nav-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0;
  width: 200px;
  font-weight: 200;
  font-size: 47px;
  color: #363636;
  text-decoration: none;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

header nav .nav-header a img {
  width: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

header nav .nav-header a img:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-filter: none;
          filter: none;
}

header nav .nav-header .toggler {
  width: 42px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  padding: 7px;
  display: none;
}

header nav .nav-header .toggler span {
  border-radius: 3px;
  width: 100%;
  height: 3px;
  background-color: #0697D4;
}

header nav .nav-header .toggler-animated {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  padding: 16px 7px !important;
}

header nav .faded {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  float: right;
  height: 100%;
}

header nav ul li {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-left: 30px;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav ul li a {
  font-weight: 300;
  color: #363636;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
}

header nav ul li a:hover {
  color: #0697D4;
}

header nav ul li .underline:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header nav ul li .underline:before {
  content: "";
  position: absolute;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #0697D4;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

header nav ul li .underline:hover:before, header nav ul li .underline:focus:before, header nav ul li .underline:active:before {
  left: 0;
  right: 0;
}

header nav ul .translated {
  padding-top: 22px;
}

header nav ul .translated:hover {
  padding-top: 18px;
}

header nav ul #sm-links {
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul #sm-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-size: 20px;
  background-color: rgba(156, 156, 156, 0.3);
  margin-left: 20px;
}

header .transformY {
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
}

header #showcase {
  min-width: 100%;
  height: 100vh;
}

header #showcase video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

header #showcase .overlay {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #showcase .overlay #hero {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

header #showcase .overlay #hero h1 {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

header #showcase .overlay #hero span {
  text-align: center;
  width: 60%;
  font-weight: 200;
  opacity: 0.7;
}

@-webkit-keyframes btn {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes btn {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

header #showcase .overlay #hero .btn-container .btn {
  border-radius: 0;
  margin: 5px;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background-color: #fff;
  color: #0697D4;
}

header #showcase .overlay #hero .btn-container .btn:before {
  content: '';
  position: absolute;
  border: #fff solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

header #showcase .overlay #hero .btn-container .btn:hover:before, header #showcase .overlay #hero .btn-container .btn:focus:before, header #showcase .overlay #hero .btn-container .btn:active:before {
  -webkit-animation-name: btn;
  animation-name: btn;
}

#info {
  min-width: 100vw;
  height: 100vh;
  color: #000;
  position: relative;
}

#info .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-y: 30px;
  background-position-x: 450px;
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

#info .grayscale-filtered {
  background-position-y: 0px;
  background-position-x: 400px;
  background-size: 100%;
  opacity: 0.7;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#info .content {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
}

#info .content .row {
  width: 90%;
  margin: 100px auto;
}

#info .content .row .left-side {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

#info .content .row .left-side h2 {
  cursor: pointer;
  font-size: 60px;
}

#info .content .row .left-side h2 span {
  color: #4e4e4e;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

#info .content .row .left-side h2 span:hover {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  color: #0697D4;
}

#info .content .row .left-side h2 span:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #0697D4;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#info .content .row .left-side h2 span:hover:before, #info .content .row .left-side h2 span:focus:before, #info .content .row .left-side h2 span:active:before {
  right: 0;
}

#info .content .row .left-side p {
  color: #646363;
}

#info .content .row .left-side button {
  margin-top: 30px;
  padding: 0 20px;
  font-size: 40px;
  color: #0697D4;
  border: 3px solid #0697D4;
  background-color: #0697D4;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #0697D4;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#info .content .row .left-side button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#info .content .row .left-side button:hover, #info .content .row .left-side button:focus, #info .content .row .left-side button:active {
  color: #fff;
}

#info .content .row .left-side button:hover:before, #info .content .row .left-side button:focus:before, #info .content .row .left-side button:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

#info .content .row .faded {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

#info .content .row .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info .content .row .right-side .item {
  margin-top: 10px;
  margin-right: 30px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  height: 130px;
}

#info .content .row .right-side .item span {
  font-size: 40px;
  font-weight: 600;
}

#info .content .row .right-side .item .item-description {
  color: #5e5e5e;
  font-weight: 500;
  font-size: 20px;
}

#info .content .row .right-side .item:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  margin-top: 0px;
  color: #0697D4 !important;
}

#jobs {
  min-width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  padding: 100px 0;
}

#jobs .container {
  height: 100%;
}

#jobs .container .row {
  height: 100%;
}

#jobs .container .row .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#jobs .container .row .left-side h3 {
  font-size: 50px;
}

#jobs .container .row .left-side button {
  border: none;
  background-color: transparent;
  font-size: 40px;
  padding: 0 20px;
  -webkit-box-shadow: inset 50px 0px 0px 0px #dfdfdf;
  box-shadow: inset 50px 0px 0px 0px #dfdfdf;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

#jobs .container .row .left-side button:hover {
  color: #fff;
  -webkit-box-shadow: inset 200px 0px 0px 0px #0697D4;
  box-shadow: inset 200px 0px 0px 0px #0697D4;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

#jobs .container .row .right-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

#jobs .container .row .right-side .job-element {
  padding: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#jobs .container .row .right-side .job-element .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#jobs .container .row .right-side .job-element .flip-card-inner .flip-card-front {
  padding: 20px;
  border: solid 2px #dadada;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#jobs .container .row .right-side .job-element .flip-card-inner .flip-card-front .icon {
  font-size: 70px;
  color: #0697D4;
}

#jobs .container .row .right-side .job-element .flip-card-inner .flip-card-front h4 {
  color: #5e5e5e;
  text-align: center;
}

#jobs .container .row .right-side .job-element .flip-card-inner .flip-card-back {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #0697D4;
  color: #fff;
}

#jobs .container .row .right-side .job-element .flip-card-inner .flip-card-back button {
  background-color: #fff;
  border: none;
  color: #0697D4;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

#jobs .container .row .right-side .job-element .flip-card-inner .flip-card-back button:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#jobs .container .row .right-side .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#jobs .container .row .right-side .job-faded {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

#experts {
  min-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

#experts section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#experts #top .right .exp-elem {
  height: 300px;
  border: solid 1px #000;
}

@media screen and (max-width: 1140px) {
  header {
    height: auto;
    padding: 0;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7px 0 0 0;
    height: 65px;
  }
  header nav .nav-header {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  header nav .nav-header a img {
    -webkit-filter: none;
            filter: none;
  }
  header nav .nav-header .toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .toggleMenu {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  header nav ul {
    padding: 0;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
    background-color: #fff;
    margin-top: 5px;
  }
  header nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
    width: 100%;
  }
  header nav ul li a {
    text-transform: uppercase;
    margin: 6px;
    font-weight: 500;
  }
  header nav ul #sm-links {
    border: none;
    margin-top: 20px;
  }
  header nav ul .translated:hover {
    padding-top: 22px;
  }
}
/*# sourceMappingURL=style.css.map */