$myFont: 'Poppins', sans-serif;
$layout-breakpoint-small: 1155px;

* {
    font-family: 'Poppins', sans-serif;
}



$linkColor: rgb(54, 54, 54);
$linkColor1: rgb(48, 48, 48);
$transition1: 0.7s ease-in-out;
$fastTransition: ease-in-out 0.3s;
$themeColor: #0697D4;
$backgroundThemeColor: rgb(40,43,46);


@mixin links {
    font-weight: 300;
    color: $linkColor;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    width: 100vw;
    height: 100vh;

    .nav-switch {
        background-color: #000;
        -webkit-box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.3); 
        box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.3);
        .nav-header {
    
            a {
                color: $linkColor;
            }
        }
    
        
    
        ul {
            li {
                a {
                    color: $linkColor;
                }
    
                
            }
    
            #sm-links {
                a {
                    background-color: rgba(0, 0, 0, 0.1);
                    margin-left: 20px;
                }
            }
        }
        a:hover {
            color: rgb(116, 116, 116);
        }
    }
    //scripted nav end
    
    //navbar
    nav {
        
        z-index: 500;
        display: flex;
        align-items: center;
        background-color: rgb(250, 250, 250);
        width: 100%;
        height: 65px;
        padding: 0 50px;
        justify-content: space-between;
        transition: $transition1;
        position: sticky;
    
        .nav-header {
            height: 100%;
            padding-top: 0;
    
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0;
                width: 200px;
                font-weight: 200;
                font-size: 47px;
                color: $linkColor;
                text-decoration: none;
                transition: $transition1;
                

                img {
                    width: 170px;
                    object-fit: cover;
                    filter: grayscale(100%);
                    transition: $fastTransition;
                }

                img:hover {
                    transition: $fastTransition;
                    filter: none;
                }
            }
    
            .toggler {
                width: 42px;
                height: 35px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: $fastTransition;
                padding: 7px;
                display: none;

                span {
                    border-radius: 3px;
                    width: 100%;
                    height: 3px;
                    background-color: #0697D4;
                }
            }

            .toggler-animated {
                transition: $fastTransition;
                padding: 16px 7px !important;
            }
        }
        //scripted links
        .faded {
            transform: translateY(-50px);
            opacity: 0;
        }
        //scripted links end
    
        ul {
            display: flex;
            list-style: none;
            align-items: center;
            margin: 0;
            float: right;
            height: 100%;;
            
            li {
                transition: $fastTransition;
                margin-left: 30px;
                position: relative;
                height: 100%;
                
                box-sizing: border-box;
                
    
                a {
                    @include links();
                    transition: ease-in-out 0.15s;
                }

                a:hover {
                    color: #0697D4;
                }
        
                .underline:hover {
                    
                    transform: translateY(-5px);
                }
                
                .underline:before {
                    content: "";
                    position: absolute;
                    left: 51%;
                    right: 51%;
                    bottom: 0;
                    background: #0697D4;
                    height: 2px;
                    -webkit-transition-property: left, right;
                    transition-property: left, right;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
    
                .underline:hover:before, .underline:focus:before, .underline:active:before {
                left: 0;
                right: 0;
                }
            }

            .translated {
                padding-top: 22px;
            }

            .translated:hover {
                padding-top: 18px;
            }
    
            #sm-links {
                
                width: 200px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
    
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 30px;
                    font-size: 20px;
                    background-color: rgba(156, 156, 156, 0.3);
                    margin-left: 20px;
                }
            }
            
        }
    }
    .transformY {
        transform: translateY(-65px);
    }

    #showcase {
        min-width: 100%;
        height: 100vh;
        
        video {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;

            #hero {
                margin:  auto;
                display: flex;
                flex-direction: column;
                height: 60%;
                width: 80%;
                align-items: center;
                justify-content: space-between;
                color: #fff;
                
                h1 {
                    text-align: center;
                    font-size: 70px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 300;
                }

                span {
                    text-align: center;
                    width: 60%;
                    font-weight: 200;
                    opacity: 0.7;
                }

                .btn-container {
                    
                    @-webkit-keyframes btn {
                        100% {
                          top: -12px;
                          right: -12px;
                          bottom: -12px;
                          left: -12px;
                          opacity: 0;
                        }
                      }
                      @keyframes btn {
                        100% {
                          top: -12px;
                          right: -12px;
                          bottom: -12px;
                          left: -12px;
                          opacity: 0;
                        }
                      }
                      .btn {
                        border-radius: 0;
                        margin: 5px;
                        font-size: 30px;
                        font-weight: 200;
                        text-transform: uppercase;
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        position: relative;
                        background-color: #fff;
                        color: $themeColor;
                      }
                      .btn:before {
                        content: '';
                        position: absolute;
                        border: #fff solid 6px;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        -webkit-animation-duration: 0.5s;
                        animation-duration: 0.5s;
                      }
                      .btn:hover:before, .btn:focus:before, .btn:active:before {
                        -webkit-animation-name: btn;
                        animation-name: btn;
                      }
                }
            }
        }
    }
}



@media screen and (max-width: 1140px) {
    //header
    header {
        height: auto;
        padding: 0;

        nav {
            flex-direction: column;
            padding: 7px 0 0 0;
            height: 65px;
            
            .nav-header {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                

                a {
                    img{
                        filter: none;
                    }
                }

                .toggler {
                    display: flex;
                    
                    
                }
            }

            
            .toggleMenu {
                transform: translateX(100%);
            }
            ul {
                padding: 0;
                width: 100%;
                height: auto;
                flex-direction: column;
                transition: $transition1;
                background-color: #fff;
                margin-top: 5px;



                li {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
                    width: 100%;

                    a {
                        text-transform: uppercase;
                        margin: 6px;
                        font-weight: 500;
                    }
                }

                #sm-links {
                    border: none;
                    margin-top: 20px;
                }

                .translated:hover {
                    padding-top: 22px;
                }
            }
        }

        
    }
    //header end

}


