$myFont: 'Poppins', sans-serif;
$layout-breakpoint-small: 1155px;

* {
    font-family: 'Poppins', sans-serif;
}



$linkColor: rgb(54, 54, 54);
$linkColor1: rgb(48, 48, 48);
$transition1: 0.7s ease-in-out;
$fastTransition: ease-in-out 0.3s;
$themeColor: #0697D4;
$themeColor1: #F5F5F5;
$backgroundThemeColor: rgb(40,43,46);


@mixin links {
    font-weight: 300;
    color: $linkColor;
    text-decoration: none;
    text-transform: uppercase;
}


header {
    width: 100vw;
    height: 100vh;

    .nav-switch {
        background-color: #000;
        -webkit-box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.3); 
        box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.3);
        .nav-header {
    
            a {
                color: $linkColor;
            }
        }
    
        
    
        ul {
            li {
                a {
                    color: $linkColor;
                }
    
                
            }
    
            #sm-links {
                a {
                    background-color: rgba(0, 0, 0, 0.1);
                    margin-left: 20px;
                }
            }
        }
        a:hover {
            color: rgb(116, 116, 116);
        }
    }
    //scripted nav end
    
    //navbar
    nav {
        
        z-index: 500;
        display: flex;
        align-items: center;
        background-color: $themeColor1;
        width: 100%;
        height: 65px;
        padding: 0 50px;
        justify-content: space-between;
        transition: $transition1;
        position: sticky;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3); 
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    
        .nav-header {
            height: 100%;
            padding-top: 0;
    
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0;
                width: 200px;
                font-weight: 200;
                font-size: 47px;
                color: $linkColor;
                text-decoration: none;
                transition: $transition1;
                

                img {
                    width: 170px;
                    object-fit: cover;
                    filter: grayscale(100%);
                    transition: $fastTransition;
                }

                img:hover {
                    transition: $fastTransition;
                    filter: none;
                }
            }
    
            .toggler {
                width: 42px;
                height: 35px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: $fastTransition;
                padding: 7px;
                display: none;

                span {
                    border-radius: 3px;
                    width: 100%;
                    height: 3px;
                    background-color: #0697D4;
                }
            }

            .toggler-animated {
                transition: $fastTransition;
                padding: 16px 7px !important;
            }
        }
        //scripted links
        .faded {
            transform: translateY(-50px);
            opacity: 0;
        }
        //scripted links end
    
        ul {
            display: flex;
            list-style: none;
            align-items: center;
            margin: 0;
            float: right;
            height: 100%;;
            
            li {
                transition: $fastTransition;
                margin-left: 30px;
                position: relative;
                height: 100%;
                
                box-sizing: border-box;
                
    
                a {
                    @include links();
                    transition: ease-in-out 0.15s;
                }

                a:hover {
                    color: #0697D4;
                }
        
                .underline:hover {
                    
                    transform: translateY(-5px);
                }
                
                .underline:before {
                    content: "";
                    position: absolute;
                    left: 51%;
                    right: 51%;
                    bottom: 0;
                    background: #0697D4;
                    height: 2px;
                    -webkit-transition-property: left, right;
                    transition-property: left, right;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
    
                .underline:hover:before, .underline:focus:before, .underline:active:before {
                left: 0;
                right: 0;
                }
            }

            .translated {
                padding-top: 22px;
            }

            .translated:hover {
                padding-top: 18px;
            }
    
            #sm-links {
                
                width: 200px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
    
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 30px;
                    font-size: 20px;
                    background-color: rgba(156, 156, 156, 0.3);
                    margin-left: 20px;
                }
            }
            
        }
    }
    .transformY {
        transform: translateY(-65px);
    }

    #showcase {
        min-width: 100%;
        height: 100vh;
        
        video {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;

            #hero {
                margin:  auto;
                display: flex;
                flex-direction: column;
                height: 60%;
                width: 80%;
                align-items: center;
                justify-content: space-between;
                color: #fff;
                
                h1 {
                    text-align: center;
                    font-size: 70px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 300;
                }

                span {
                    text-align: center;
                    width: 60%;
                    font-weight: 200;
                    opacity: 0.7;
                }

                .btn-container {
                    
                    @-webkit-keyframes btn {
                        100% {
                          top: -12px;
                          right: -12px;
                          bottom: -12px;
                          left: -12px;
                          opacity: 0;
                        }
                      }
                      @keyframes btn {
                        100% {
                          top: -12px;
                          right: -12px;
                          bottom: -12px;
                          left: -12px;
                          opacity: 0;
                        }
                      }
                      .btn {
                        border-radius: 0;
                        margin: 5px;
                        font-size: 30px;
                        font-weight: 200;
                        text-transform: uppercase;
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        position: relative;
                        background-color: #fff;
                        color: $themeColor;
                      }
                      .btn:before {
                        content: '';
                        position: absolute;
                        border: #fff solid 6px;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        -webkit-animation-duration: 0.5s;
                        animation-duration: 0.5s;
                      }
                      .btn:hover:before, .btn:focus:before, .btn:active:before {
                        -webkit-animation-name: btn;
                        animation-name: btn;
                      }
                }
            }
        }
    }
}

//section Info
#info {
    min-width: 100vw;
    height: 100vh;
    color: #000;
    position: relative;
    
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: 90%;
        background-position-y: 30px;
        background-position-x: 450px;
        opacity: 0.2;
        filter: grayscale(100%);
        transition: $transition1;
    }

    .grayscale-filtered {
        background-position-y: 0px;
        background-position-x: 400px;
        background-size: 100%;
        opacity: 0.7;
        transition: all 2s ease;
        filter: grayscale(0%);
    }

    .content {
        min-width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: grid;

        .row {
            width: 90%;
            margin: 100px auto;

            .left-side {
                transition: $transition1;

                h2 {
                    cursor: pointer;
                    font-size: 60px;

                    span {
                        color: rgb(78, 78, 78);
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        position: relative;
                        overflow: hidden; 
                    }

                    span:hover {
                        transition: $transition1;
                        color: $themeColor;
                    }

                    span:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        right: 100%;
                        bottom: 0;
                        background: $themeColor;
                        height: 2px;
                        -webkit-transition-property: right;
                        transition-property: right;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                    }

                    span:hover:before, span:focus:before, span:active:before {
                        right: 0;
                    }

                }

                p {
                    color: rgb(100, 99, 99);
                }

                button {
                    margin-top: 30px;
                    padding: 0 20px;
                    font-size: 40px;
                    color: $themeColor;
                    border: 3px solid $themeColor;
                    background-color: $themeColor;
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;
                    background: $themeColor;
                    -webkit-transition-property: color;
                    transition-property: color;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                }

                button:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: #fff;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    -webkit-transform-origin: 50%;
                    transform-origin: 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                button:hover, button:focus, button:active {
                    color: #fff;
                    
                }
                  
                button:hover:before, button:focus:before, button:active:before {
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                }
            }

            .faded {
                transform: translateY(100px);
                opacity: 0;
            }

            .right-side {
                display: flex;

                .item {
                    margin-top: 10px;
                    margin-right: 30px;
                    transition: $fastTransition;
                    height: 130px;

                    span {
                        font-size: 40px;
                        font-weight: 600;
                    }

                    .item-description {
                        color: rgb(94, 94, 94);
                        font-weight: 500;
                        font-size: 20px;
                    }
                }

                .item:hover {
                    transition: $fastTransition;
                    margin-top: 0px;
                    color: $themeColor !important;
                }

            }
        }
    }
}
//section Info End

//section Jobs
#jobs {
    min-width: 100%;
    height: 100vh;
    background-color: $themeColor1;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    padding: 100px 0;
    .container {
        
        height: 100%;
        .row {
            height: 100%;
            .left-side {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                h3 {
                    font-size: 50px;
                }

                button {
                    border: none;
                    background-color: transparent;
                    font-size: 40px;
                    padding: 0 20px;
                    -webkit-box-shadow: inset 50px 0px 0px 0px #dfdfdf; 
                    box-shadow: inset 50px 0px 0px 0px #dfdfdf;
                    transition: $transition1;
                }

                button:hover {
                    color: #fff;
                    -webkit-box-shadow: inset 200px 0px 0px 0px $themeColor; 
                    box-shadow: inset 200px 0px 0px 0px $themeColor;
                    transition: $transition1;
                }
            }

            .right-side {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 7px;
                grid-row-gap: 7px;

                .job-element {
                    padding: 0;
                    transition: $fastTransition;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    perspective: 1000px;

                    .flip-card-inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.6s;
                        transform-style: preserve-3d;
                        

                        .flip-card-front {
                            padding: 20px;
                            border: solid 2px rgb(218, 218, 218);
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            width: 100%;
                            height: 100%;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;

                            .icon {
                                font-size: 70px;
                                color: $themeColor;
                            }
        
                            h4 {
                                color: rgb(94, 94, 94);
                                text-align: center;
                            }
                        }

                        .flip-card-back {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            transform: rotateY(180deg);
                            background-color: $themeColor;
                            color: #fff;

                            button {
                                background-color: #fff;
                                border: none;
                                color: $themeColor;
                                transition: $fastTransition;
                            }

                            button:hover {
                                transition: $fastTransition;
                                transform: translateY(-5px);
                            }
                        }
  
                    }
   
                }

                .flip-card:hover .flip-card-inner {
                    transform: rotateY(180deg);
                }

                .job-faded  {
                    transform: translateY(20px);
                    transform: translateX(20px);
                    opacity: 0;
                    transition: $fastTransition;
                }
            }
        }
    }
}
//section Jobs End

//section Experts
#experts {
    min-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #top {

        .right {

            .exp-elem {
                height: 300px;
                border: solid 1px #000;
            }
        }
    }
}
//section Experts end

@media screen and (max-width: 1140px) {
    //header
    header {
        height: auto;
        padding: 0;

        nav {
            flex-direction: column;
            padding: 7px 0 0 0;
            height: 65px;
            
            .nav-header {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                

                a {
                    img{
                        filter: none;
                    }
                }

                .toggler {
                    display: flex;
                    
                    
                }
            }

            
            .toggleMenu {
                transform: translateX(100%);
            }
            ul {
                padding: 0;
                width: 100%;
                height: auto;
                flex-direction: column;
                transition: $transition1;
                background-color: #fff;
                margin-top: 5px;



                li {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
                    width: 100%;

                    a {
                        text-transform: uppercase;
                        margin: 6px;
                        font-weight: 500;
                    }
                }

                #sm-links {
                    border: none;
                    margin-top: 20px;
                }

                .translated:hover {
                    padding-top: 22px;
                }
            }
        }

        
    }
    //header end

}


